@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}
:root{
    --main-color: #033a80;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: #DC0000;
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
    --logo-size: 1.6rem;
    --logo-color: #DC0000;
}

/* -------------------------------------------------------------------------- */
/*                                global styles                               */
/* -------------------------------------------------------------------------- */
    section{
        padding: 50px 10%;
    }

    body{
        background: var(--bg-color);
        color: var(--text-color);

    }
    *::selection{
        background: var(--main-color);
        color: var(--bg-color);

    }
/* -------------------------------------------------------------------------- */
/*                              end global styles                             */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */
    header{
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
         justify-content: space-between;
         background: var(--bg-color);
         padding: 13px 10% ;
         transition: 0.2s;
         box-shadow: -3px -4px 8px #ffffff73, 2px 2px 5px rgb(18, 14, 14);
         z-index: 1;
    }

    .logo{
        font-size: var(--logo-size);
        font-weight: 600;
        color: var(--text-color);
    }

    .logo span{
        font-size: var(--logo-size);
        font-weight: 600;
        color: var(--logo-color);
    }

    .navbar{
        display: flex;

    }
    .navbar a{
        font-size: 1.1rem;
        padding: 10px 20px;
        color: var(--text-color) ;
        font-weight: 500;
    }

    .navbar a:hover{
         color: var(--hover);
    }
    #menu-icon {
        font-size: 1.7rem;
        cursor: pointer;
        z-index: 10001;
        display: none;


    }
    #darkmode{
        font-size: 1.5rem;
        cursor: pointer ;
        padding-left: 5px;
        padding-top: 2px;
    }
/* -------------------------------------------------------------------------- */
/*                                 navbar end                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 home start                                 */
/* -------------------------------------------------------------------------- */
    .home{
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr ;
        align-items: center;
        gap: 2rem;
    }
    .home-img{
        order: 3;
    }
    .home-img img{
        width: 100%;

    }
    .home-text span{
         font-size: var(--medium-font);
         font-weight: 500;
    }
    .home-text h1{
        font-size: var(--big-font);
    }
    .home-text h2{
        font-size: 1rem;
        font-weight: 400;
    }
    .home-text p{
        font-size: var(--p-font);
        font-weight: 400;
        margin: 0.7rem 0 1rem;
    }

    .social{
        display: flex;
        flex-direction: column;
    }
    .social a {
        margin-bottom: 1rem;
        font-size: 22px;
        color: var(--text-color);
    }
    .social a:hover{
        color: var(--hover);
    }
    .btn{
        display: inline-block;
        background: var(--main-color );
        color: var(--bg-color);
        padding: 0.7rem 1.3rem;
        border: 0.6rem;
    }

    .btn:hover{
        background: var(--hover);
    }
/* -------------------------------------------------------------------------- */
/*                                  home end                                  */
/* -------------------------------------------------------------------------- */