@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #033a80;
  --bg-color: #fff;
  --text-color: #0f0c27;
  --hover: #dc0000;
  --big-font: 3.2rem;
  --medium-font: 1.8rem;
  --p-font: 0.941rem;
  --logo-size: 1.6rem;
  --logo-color: #dc0000;
}

/* -------------------------------------------------------------------------- */
/*                                global styles                               */
/* -------------------------------------------------------------------------- */
section {
  padding: 50px 10%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}
*::selection {
  background: var(--main-color);
  color: var(--bg-color);
}

.heading {
  text-align: center;
}
.heading h2 {
  font-size: 2rem;
}
.heading span {
  font-size: var(--p-font);
  color: rgba(2, 166, 70);
}
/* -------------------------------------------------------------------------- */
/*                              end global styles                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                   navbar                                   */
/* -------------------------------------------------------------------------- */
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 13px 10%;
  transition: 0.2s;
  box-shadow: -3px -4px 8px #ffffff73, 2px 2px 5px rgb(18, 14, 14);
  z-index: 1;
}

.logo {
  font-size: var(--logo-size);
  font-weight: 600;
  color: var(--text-color);
}

.logo span {
  font-size: var(--logo-size);
  font-weight: 600;
  color: var(--logo-color);
}

.navbar {
  display: flex;
}
.navbar a {
  font-size: 1.1rem;
  padding: 10px 20px;
  color: var(--text-color);
  font-weight: 500;
}

.navbar a:hover {
  color: var(--hover);
}
#menu-icon {
  font-size: 1.7rem;
  cursor: pointer;
  z-index: 10001;
  display: none;
}
#darkmode {
  font-size: 1.5rem;
  cursor: pointer;
  padding-left: 5px;
  padding-top: 2px;
}
/* -------------------------------------------------------------------------- */
/*                                 navbar end                                 */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                                 home start                                 */
/* -------------------------------------------------------------------------- */
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 2rem;
}
.home-img {
  order: 3;
}
.home-img img {
  width: 100%;
}
.home-text span {
  font-size: var(--medium-font);
  font-weight: 500;
}
.home-text h1 {
  font-size: var(--big-font);
}
.home-text h2 {
  font-size: 1rem;
  font-weight: 400;
}
.home-text p {
  font-size: var(--p-font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}
.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--text-color);
}
.social a:hover {
  color: var(--hover);
}
.btn {
  display: inline-block;
  background: var(--main-color);
  color: var(--bg-color);
  padding: 0.7rem 1.3rem;
  border: 0.6rem;
}

.btn:hover {
  background: var(--hover);
}
/* -------------------------------------------------------------------------- */
/*                                  home end                                  */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                             about section start                            */
/* -------------------------------------------------------------------------- */
.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}
.about-img img {
  width: 80%;
  border-radius: 0.7rem;
}
.about-text {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: justify;
}
.information {
  margin: 1rem 0 1.4rem;
}
.information .info.box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
/* -------------------------------------------------------------------------- */
/*                              about section end                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                            skills section start                            */
/* -------------------------------------------------------------------------- */

.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
}
.skills-img img {
  width: 90%;
  padding-left: 4rem;
  object-position: center;
}
.bars-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  padding-bottom: 1rem;
}
.bars-box h3,
span {
  font-size: 1.2rem;
  font-weight: 500;
}
.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.6rem;
  background: hsla(0, 0%, 44%, 0.5);
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.6rem;
  background: var(--main-color);
  border-radius: 0.6rem;
}
.html-bar {
  width: 70%;
}
.css-bar {
  width: 60%;
}
.js-bar {
  width: 0%;
}
.react-bar {
  width: 0%;
}

/* -------------------------------------------------------------------------- */
/*                             skills section end                             */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                           services section start                           */
/* -------------------------------------------------------------------------- */
.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 2rem;
  margin-top: 3rem;
}
.services-box {
  padding: 30px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.6rem;
  border-bottom: 2px solid var(--main-color);
  box-shadow: 0px 2px 7px rgba(14 55 54/15%);
}
.services-box:hover {
  background: #02225a;
  color: var(--bg-color);
}
.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem 0 0.4rem;
}
.services-box .bx {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--main-color);
}
.services-box:hover .bx {
  color: var(--hover);
}

.services-box a {
  color: var(--main-color);
  font-size: var(--p-font);
  font-weight: 500;
}
.services-box a:hover {
  color: var(--bg-color)
}
/* -------------------------------------------------------------------------- */
/*                            sservices section end                           */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                            contact section start                           */
/* -------------------------------------------------------------------------- */
    .contact-form{
        display: grid;
        place-items: center;
        margin-top: 2rem;

    }
    .contact-form form{
         display: flex;
         flex-direction: column;
         width: 650px; 
    }
    form, input, textarea{
        padding: 15px;
        border-radius: 0.5rem;
        width: 100%;
        border: none;
        outline: none;
        background: #DFDCD6;
        margin-bottom: 1rem;
        color: var(--text-color);
        text-align: center;
       
    }
    input, textarea{
        border: 1px solid;
    }
    
    form input::placeholder, textarea::placeholder{
        color: var(--text-color);
    }
    form textarea{
        resize: none;
        height: 200px;
    }
    .contact-button{
         width: 160px;
         cursor: pointer;
         background: #2768d9;
         color: var(--bg-color);
         text-transform: uppercase;
         letter-spacing: 1px;
         margin-left: 35%;
    }
    .contact-button:hover{
      background: var(--hover);
      color: var(--bg-color);
    }
    .footer{
        display: grid;
        place-items: center;
        padding: 20px;
        color: #000;
    }
    .footer h2{
         font-size: 1.5rem;
         margin-bottom: 1.6rem;
         color: var(--text-color);

    }
    .footer-social a i{
        color: var(--main-color);
        font-size: 1.5rem;
        margin-left: 10px;
        text-align: center;
        line-height: 40px;
        background: var(--bg-color);
        border-radius: 50%;
        height: 40px;

    }
    .copyright{
        padding: 20px;
        text-align: center;
        background: var(--main-color);
        color: var(--bg-color);
    }
/* -------------------------------------------------------------------------- */
/*                             contact section end                            */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/*                           responsive section start                          */
/* -------------------------------------------------------------------------- */
            @media (max-width:991px){
                header{
                    padding: 18px 4%;

                }
                section{
                    padding: 50px 4%;

                }
            }
            @media (max-width:881px){
                :root{
                    --big-font:2.7rem;
                    --medium-font: 1.4rem;

                }
            }

            @media (max-width:768px){
                :root{
                    --big-font:2.4rem;
                    --medium-font: 1.2rem;
                }
                header{
                    padding: 11px 4%;   
                }
                #menu-icon{
                    display: initial;
                    color: var(--text-color);

                }
                header .navbar{
                    position: absolute;
                    left: 0px;
                    top: -550px;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    background: var(--bg-color);
                     box-shadow: 0 4px 4px rgba(0 0 0/100%);
                     transition: 0.2s ease;
                     text-align: center;
                }
                .navbar .active{
                    top: 100%;
                }
                .navbar a{
                     padding: 1.5rem;
                     display: block;
                     background: var(--bg-color);

                }
                #darkode{
                    position: absolute;
                    top: 1.4rem;
                     right: 2rem;
                }
                .scroll-down{
                    display: none;
                     
                }
                .home{
                    grid-template-columns: 0.5fr 3fr;
                }
                .home-text{
                    grid-column: 1/3;
                    padding: 1.4rem;
                    
                }
               
                .home-img{
                    order: initial;
                    margin-top: 2rem;

                }
                .about-container{
                    grid-template-columns: 1fr;

                }
                .about-img img{
                    display: flex;
                    justify-content: center;
                    width: 100%;

                }
                .about-text{
                    padding-top: 1rem;
                    align-items: center;
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                .about-text a{
                    display: flex;
                    font-display: column;
                    width: 100%;
                    text-align: center;
                    justify-content: center;
                    border-radius: 2rem;
                    padding: 1rem;
                }
                .information{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-content: center;
                    line-height: 2rem;
                }
                .skills-container{
                    grid-template-columns: 1fr;
                    
                }
                .skills-img img{
                    padding-left: 0;
                    width: 100%;
                }
                .skills-img{
                    padding-top: 2rem;
                    display: flex;
                    justify-content: center;


                }
               .services-container{
               grid-template-columns: 1fr;

               }
               .services-box{
                width: 100%;
               }
              .contact{
                width: 100%;
              }
              .contact-form form{
                width: 100%;
              }
            }

            @media (max-width:340px){
                :root{
                    --big-font: 1.7rem;
                    --medium-font: 1.1rem
                }
                .home-text span{
                    font-size: 1rem;
                }
                .home-text h2{
                    font-size: 0.9rem;
                    font-weight: 500;
                }
                .information .info-box span{
                    font-size: 1rem;
                }
                .contact-form form{
                    width: 250px;
                }
                .contact-button{
                    width: 20%;
                }
            }
/* -------------------------------------------------------------------------- */
/*                           responsive section end                           */
/* -------------------------------------------------------------------------- */